//White
$white: #ffffff;
$off-white: #fafafa;
$faded-white: rgba(255, 255, 255, 0.4);

//black
$black: #000000;
$faded-black: rgba(0, 0, 0, 0.2);

//Grey
$grey: #2e2e2e;
$light-grey: #666565;
$lighter-grey: #dfe6e9;
$dark-grey: #212121;
$faded-grey: rgba(33, 33, 33, 0.9);

$error: #ef233c;
$success: #38b000;

//yellow
$yellow: #f4b400;

//Primary
$primary-main: #01baef;
$primary-dark: #01a6d6;
$primary-light: #3ed3fe;

//Header
$filter-height: 4rem;
$navbar-height: 4rem;

//Text
$text-light: $white;
$text-dark: $black;
$text-primary: $white;
